#### XDG ENVIRONMENT VARIABLES #####
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"

#### TOUCHPAD GESTURES ####
exec libinput-gestures-setup start &

### BLUETOOTH ###
exec blueman-applet &

#### Wallpaper ###
# feh --bg-fill ~/Pictures/wallpaper/nordwall3.png
exec ~/.fehbg &

### COMPOSITOR ###
exec picom &
# this a comment for remi I love you very mouch
#
### POWER MANAGER ####
#
exec xfce4-power-manager &
#
### POLKIT GNOME ###
exec /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

### DUNST ###
# by recomendation of arch wiki
dunst -conf "~/.config/dunst/dunstrc" &

# charge cursor size
xrdb ~/.Xresources

# for small windows
export GDK_SCALE=1.5
export GDK_DPI_SCALE=0.75
export QT_SCALE_FACTOR=1.5
