#### TOUCHPAD SETTINGS ###
##
## Enable tapping on the touchpad
#xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Tapping Enabled" 1
#
## Enable click method on the touchpad
#xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Click Method Enabled" 0 1
#
## Adjust touchpad acceleration speed
#xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Accel Speed" 0.5
#
## Invert the scroll of touchpad
#xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Natural Scrolling Enabled" 1
#
## Enable two-finger touch gesture, including pinch for zoom
##xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput 2FGT 2Finger Touch Gesture" 1
##
#### TOUCHPAD GESTURES ####
exec libinput-gestures-setup start &

### BLUETOOTH ###
exec blueman-applet &

#### Wallpaper ###
# feh --bg-fill ~/Pictures/wallpaper/nordwall3.png
exec ~/.fehbg &

### COMPOSITOR ###
exec picom &
# this a comment for remi I love you very mouch
#
### POWER MANAGER ####
#
exec xfce4-power-manager &
#
### POLKIT GNOME ###
exec /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

### DUNST ###
# by recomendation of arch wiki
dunst -conf "~/.config/dunst/dunstrc" &
